<ul class="list-group">
  <li class="list-group-item active" aria-current="true"> People You May Know</li>
  <li class="list-group-item">
    <div class="list-image">

      <img src="<%= asset_path('image1.png') %>" class="rounded float-start" alt="...">
    </div>
    <div class="list-text">

      <p> @harry_adams</p>

    </div>
    
    </li>


  <li class="list-group-item">
    <div class="list-image">

      <img src="<%= asset_path('image1.png') %>" class="rounded float-start" alt="...">
    </div>
    <div class="list-text">

      <p> @Ryan_mcarthy</p>

    </div>

  </li>

  <li class="list-group-item">
    <div class="list-image">

      <img src="<%= asset_path('image1.png') %>" class="rounded float-start" alt="...">
    </div>
    <div class="list-text">

      <p> @ReeceJames</p>

    </div>

  </li>

  <li class="list-group-item">
    <div class="list-image">

      <img src="<%= asset_path('image1.png') %>" class="rounded float-start" alt="...">
    </div>
    <div class="list-text">

      <p> @MasonMount</p>

    </div>

  </li>

  <li class="list-group-item">
    <div class="list-image">

      <img src="<%= asset_path('Avatar2.jpeg') %>" class="rounded float-start" alt="...">
    </div>
    <div class="list-text">

      <p> @TomHolland332</p>

    </div>

  </li>


</ul>